**Bora praticar!**
  
1) Utilizando o DataFrame importado (alunos3.csv) calcule a média das provas em uma nova coluna chamada (Media_provas)

In [1]:
import pandas as pd

In [2]:
pd.read_csv('alunos3.csv', sep=';')

       RA             Nome  Frequencia Prova_1 Prova_2 Prova_3  Prova_4
0  110201   Antonio Carlos          20     6,5     8,5     7,0        6
1  110212      Ana Beatriz          20     7,0     7,0     7,0        8
2  110218    Carlos Vernes          17     7,0     7,0     7,0        7
3  110307  Francisco Cunha          20     9,0     8,5     8,5       10
4  110275      Sandra Rosa          15     6,5     7,5     7,0        7
5  110281   Juliana Arruda          18     7,5     7,0     7,5        8
6  110301        Joao Galo          20     5,0     6,5     7,0        5
7  110263     José Valente          20    10,0    10,0    10,0       10
8  110271   Maria Ferreira          19     9,5     8,0     7,0       10
9  110236  Adriana Tavares          20     8,0     8,0     8,0        8

2) Quem foram os alunos que obtiveram a maior e a menor média

3) Agora una este dataframe com o `cadastro_alunos.xlsx`

4) Qual a média entre as Media_provas dentro do público feminino? e masculino?

5) Qual a média de idade das pessoas que obtiveram Media_provas maior ou igual a 7?

6) Qual das cidades possui o maior média de Media_provas? E qual é este valor?

7. Leia o arquivo `aluno3.csv`, apenas as colunas RA, Prova_1, Prova_2, Prova_3, Prova_4 calcule a médias das notas da prova e salve em um arquivo excel (xlsx) as colunas RA e Média.